.vscode-server/
.cache/
.vscode/
*.ipch
*.VC.db
*.bin
*.tar.gz
.cache/
.vscode-server/
*.ipch
*.VC.db
LLVM/bin/clang-tidy
.bash_history
.ssh/
.local/
.dotnet/
.gitconfig
.lesshst
.wget-hsts
.sudo_as_admin_successful
.bash_logout
.bashrc
.profile
